{% extends 'MWSimpleAdminCrudBundle::layout.html.twig' %}

{% block title %}
    {{ parent() }} - {{ 'views.edit.edit'|trans({'%entity%': config.entityName}, 'MWSimpleAdminCrudBundle') }}
{% endblock %}

{% block page %}
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="panel panel-primary center-block">
                <div class="panel-heading">
                    <i class="glyphicon glyphicon-pencil"></i> {{ 'views.edit.edit'|trans({'%entity%': config.entityName}, 'MWSimpleAdminCrudBundle') }}
                </div>
                <div class="panel-body">
                    {% block form %}
                        {{ form(form) }}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        {% block buttonsbelow %}
            {% if config.index is defined %}
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <a class="form-control btn btn-info" href="{{ path(config.index) }}">
                        {{ 'views.recordactions.backtothelist'|trans({}, 'MWSimpleAdminCrudBundle') }}
                    </a>
                </div>
            {% endif %}
            {% if delete_form is not null %}
                <div class="col-lg-3 col-md-3 col-sm-3">{{ form(delete_form) }}</div>
            {% endif %}
        {% endblock %}
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/mwsimpleadmincrud/css/bootstrapValidator.min.css') }}">
    {# DatetimepickerBundle #}
    {{ form_stylesheet(form) }}
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('bundles/mwsimpleadmincrud/js/validator/bootstrapValidator.min.js') }}"></script>
    <script src="{{ asset('bundles/mwsimpleadmincrud/js/validator/language/es_ES.js') }}"></script>
    {% if config.validator is defined %}
        {% if config.validator == true %}
            <script src="{{ asset('bundles/mwsimpleadmincrud/js/widget.js') }}"></script>
        {% else %}
            <script src="{{ asset('bundles/mwsimpleadmincrud/js/widget_not_validator.js') }}"></script>
        {% endif %}
    {% else %}
        <script src="{{ asset('bundles/mwsimpleadmincrud/js/widget.js') }}"></script>
    {% endif %}
    {# DatetimepickerBundle #}
    {{ form_javascript(form) }}
{% endblock %}
