{% extends [config.site_view_layout, admincrud_config('site_view_layout')|raw] %}

{% block title %}
    {{ parent() }} - {{ 'views.edit.edit'|trans({'%entity%': config.entityName}, 'MWSimpleAdminCrudBundle') }}
{% endblock %}

{% block page %}
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="panel panel-primary center-block">
            <div class="panel-heading">
                <i class="glyphicon glyphicon-pencil"></i> {{ 'views.edit.edit'|trans({'%entity%': config.entityName}, 'MWSimpleAdminCrudBundle') }} {{ config.fieldsshow_title is defined ? config.fieldsshow_title.label ~ ' ' ~ attribute(entity, config.fieldsshow_title.name)|raw }}
            </div>
            <div class="panel-body">
                {% block form %}
                    {{ form(form) }}
                {% endblock %}
            </div>
        </div>
    </div>

    {% block buttonsbelow %}
        {% if config.index is defined %}
            <div class="col-lg-3 col-md-3 col-sm-3">
                <a class="form-control btn btn-info" href="{{ path(config.index) }}">
                    {{ 'views.recordactions.backtothelist'|trans({}, 'MWSimpleAdminCrudBundle') }}
                </a>
            </div>
        {% endif %}
        {% if delete_form is not null %}
            <div class="col-lg-3 col-md-3 col-sm-3">{{ form(delete_form) }}</div>
        {% endif %}
    {% endblock %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {% if config.validator is defined %}
        {% if config.validator == true %}
            <link rel="stylesheet" href="{{ asset('bundles/mwsimpleadmincrud/css/bootstrapValidator.min.css') }}">
        {% endif %}
    {% endif %}
    {# DatetimepickerBundle #}
    {{ form_stylesheet(form) }}
{% endblock %}

{% block javascript %}
    {{ parent() }}

    {% if config.validator is defined %}
        {% if config.validator == true %}
            <script src="{{ asset('bundles/mwsimpleadmincrud/js/validator/bootstrapValidator.min.js') }}"></script>
            <script src="{{ asset('bundles/mwsimpleadmincrud/js/validator/language/es_ES.js') }}"></script>
            <script src="{{ asset('bundles/mwsimpleadmincrud/js/widget.js') }}"></script>
        {% else %}
            <script src="{{ asset('bundles/mwsimpleadmincrud/js/widget_not_validator.js') }}"></script>
        {% endif %}
    {% else %}
        <script src="{{ asset('bundles/mwsimpleadmincrud/js/widget_not_validator.js') }}"></script>
    {% endif %}
    {# DatetimepickerBundle #}
    {{ form_javascript(form) }}
{% endblock %}
