{% extends [config.site_view_layout, admincrud_config('site_view_layout')|raw] %}

{% block title %}
    {{ parent() }} - {{ 'views.edit.edit'|trans({'%entity%': config.entityName}, 'MWSimpleAdminCrudBundle') }}
{% endblock %}

{% block page %}
    <div class="col-md-12">
        <div class="panel panel-primary center-block">
            <div class="panel-heading clearfix">
                {% block panelheading %}
                    <div class="float-left">
                        <i class="glyphicon glyphicon-pencil"></i>
                        {{ 'views.edit.edit'|trans({'%entity%': config.entityName}, 'MWSimpleAdminCrudBundle') }} {{ config.fieldsshow_title is defined ? config.fieldsshow_title.label ~ ' ' ~ attribute(entity, config.fieldsshow_title.name)|raw }}
                    </div>
                {% endblock %}
                {% block buttons %}
                    <div class="float-right">
                        <div class="btn-group">
                            {% if config.index is defined %}
                                <a class="btn-sm btn-default glyphicon glyphicon-th-list tooltips" href="{{ path(config.index) }}" title="" rel="tooltip" data-original-title="{{ 'views.recordactions.backtothelist'|trans({}, 'MWSimpleAdminCrudBundle') }}"></a>
                            {% endif %}
                        </div>
                    </div>
                {% endblock %}
            </div>
            <div class="panel-body">
                {% block form %}
                    {{ form(form) }}
                {% endblock %}
            </div>
            <div class="panel-footer">
            {% block buttonsbelow %}
                <div class="btn-group">
                {% if config.index is defined %}
                    <a class="btn btn-info float-left" href="{{ path(config.index) }}">
                        {{ 'views.recordactions.backtothelist'|trans({}, 'MWSimpleAdminCrudBundle') }}
                    </a>
                {% endif %}
                {% if delete_form is not null %}
                    <div class="float-left">{{ form(delete_form) }}</div>
                {% endif %}
                </div>
            {% endblock %}
            </div><!-- .panel-footer -->
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {% if config.validator is defined %}
        {% if config.validator == true %}
            <link rel="stylesheet" href="{{ asset('bundles/mwsimpleadmincrud/css/bootstrapValidator.min.css') }}">
        {% endif %}
    {% endif %}
    {# DatetimepickerBundle #}
    {{ form_stylesheet(form) }}
{% endblock %}

{% block javascript %}
    {{ parent() }}

    {% if config.validator is defined %}
        {% if config.validator == true %}
            <script src="{{ asset('bundles/mwsimpleadmincrud/js/validator/bootstrapValidator.min.js') }}"></script>
            <script src="{{ asset('bundles/mwsimpleadmincrud/js/validator/language/es_ES.js') }}"></script>
            <script src="{{ asset('bundles/mwsimpleadmincrud/js/widget.js') }}"></script>
        {% else %}
            <script src="{{ asset('bundles/mwsimpleadmincrud/js/widget_not_validator.js') }}"></script>
        {% endif %}
    {% else %}
        <script src="{{ asset('bundles/mwsimpleadmincrud/js/widget_not_validator.js') }}"></script>
    {% endif %}
    {# DatetimepickerBundle #}
    {{ form_javascript(form) }}
{% endblock %}
