{% extends [config.site_view_layout, admincrud_config('site_view_layout')|raw] %}

{% block title %}
    {{ parent() }} - {{ 'views.new.creation'|trans({'%entity%': config.entityName}, 'MWSimpleAdminCrudBundle') }}
{% endblock %}

{% block page %}
    {% if config.modal_show_layout == false %}
        <div class="col-md-12">
            <div class="panel panel-primary center-block">
                <div class="panel-heading clearfix">
                    {% include 'MWSimpleAdminCrudBundle:Default:new_heading.html.twig' %}
                </div>
                <div class="panel-body">
                    {% include 'MWSimpleAdminCrudBundle:Default:new_body.html.twig' %}
                </div>
                <div class="panel-footer">
                    {% include 'MWSimpleAdminCrudBundle:Default:new_footer.html.twig' %}
                </div>
            </div>
        </div>
    {% else %}
    <div class="modal-content" id="mws-modal-content">
        <div class="panel panel-primary center-block">
            <div class="panel-heading clearfix">
                <div class="modal-header" id="mws-modal-header">
                    <div class="float-right">
                        <div class="btn-group">
                            <a type="button" class="btn-sm btn-default glyphicon glyphicon-remove tooltips" data-dismiss="modal" title="" rel="tooltip" data-original-title="{{ 'views.recordactions.close'|trans({}, 'MWSimpleAdminCrudBundle') }}"></a>
                        </div>
                    </div>
                    <div class="modal-title" id="mws-modal-label">
                        {% include 'MWSimpleAdminCrudBundle:Default:new_heading.html.twig' %}
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="modal-body" id="mws-modal-body">
                    {% include 'MWSimpleAdminCrudBundle:Default:new_body.html.twig' %}
                </div>
            </div>
            <div class="panel-footer">
                <div class="modal-footer" id="mws-modal-footer">
                    {% include 'MWSimpleAdminCrudBundle:Default:new_footer.html.twig' %}
                </div>
            </div>
        </div>
    </div>
    {% endif %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {# DatetimepickerBundle #}
    {{ form_stylesheet(form) }}
{% endblock %}

{% block javascript %}
    {{ parent() }}

    {% if config.validator is defined %}
        {% if config.validator == true %}
            <script src="{{ asset('bundles/mwsimpleadmincrud/js/validator/validator.min.js') }}"></script>
            <script src="{{ asset('bundles/mwsimpleadmincrud/js/widget.js') }}"></script>
        {% else %}
            <script src="{{ asset('bundles/mwsimpleadmincrud/js/widget_not_validator.js') }}"></script>
        {% endif %}
    {% else %}
        <script src="{{ asset('bundles/mwsimpleadmincrud/js/widget_not_validator.js') }}"></script>
    {% endif %}
    {# DatetimepickerBundle #}
    {{ form_javascript(form) }}
{% endblock %}
