{% extends 'MWSimpleAdminCrudBundle::layout.html.twig' %}

{% block title %}
{{ parent() }} - {{ 'views.show.show'|trans({'%entity%': config.entityName}, 'MWSimpleAdminCrudBundle') }}
{% endblock %}

{% block page %}
    <div class="panel panel-primary center-block">
        <div class="panel-heading">
            <i class="glyphicon glyphicon-ok"></i> {{ 'views.show.show'|trans({'%entity%': config.entityName}, 'MWSimpleAdminCrudBundle') }}
        </div>
        <div class="panel-body">
            <div class="row">
                {% for key, field in config.fieldsshow %}
                    <div class="{% if field.class is defined %}{{ field.class }}{% else %}col-lg-12 col-md-12 col-sm-12{% endif %}">
                        <label class="control-label">{{ field.label }}</label>
                        {% if field.type in ['datetime', 'datetimetz', 'date', 'time'] %}
                            <div class="form-control">
                                <span class="input-xlarge uneditable-input">
                                    {{ attribute(entity, field.name)|date(field.date) }}
                                </span>
                            </div>
                        {% elseif field.type == 'boolean' %}
                            <div class="form-control">
                                <span class="input-xlarge uneditable-input">
                                    {{ isActive(attribute(entity, field.name)) }}
                                </span>
                            </div>
                        {% elseif field.type in ['ONE_TO_MANY', 'MANY_TO_MANY'] %}
                            {% set many_entity = attribute(entity, field.name) %}
                            <div class="well">
                                <span class="input-xlarge uneditable-input">
                                    {% for key, field_many in many_entity %}
                                        {{ field_many|raw }}
                                        {% if field.separator is defined %}
                                            {{ field.separator|raw }}
                                        {% else %}
                                            |
                                        {% endif %}
                                    {% endfor %}
                                </span>
                            </div>
                        {% elseif field.type == 'text' %}
                            <div class="well">{{ attribute(entity, field.name)|raw }}</div>
                        {% elseif field.type == 'money' %}
                            <div class="form-control">
                                <span class="input-xlarge uneditable-input">
                                    {{ attribute(entity, field.name)|localizednumber(field.currency_style|default('currency'), field.currency_type|default('double')) }}
                                </span>
                            </div>
                        {% elseif field.type == 'vich_file' %}
                            {% if attribute(entity, field.name) is not empty %}
                                <a href="{{ vich_uploader_asset(entity, field.file) }}"><img class="img-responsive" src="{{ vich_uploader_asset(entity, field.file) }}"></a>
                            {% endif %}
                        {% else %}
                            <div class="form-control">
                                <span class="input-xlarge uneditable-input">
                                    {{ attribute(entity, field.name)|raw }}
                                </span>
                            </div>
                        {% endif %}
                    </div>
                    {% if field.closerow is defined %}
                        </div>
                        <br>
                        <div class="row">
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    {% block buttonsbelow %}
        <div class="col-lg-9 col-md-9 col-sm-9">
            <div class="float-left col-lg-3 col-md-3 col-sm-3">
                <a class="btn btn-info col-lg-11" href="{{ path(config.index) }}">
                    {{ 'views.recordactions.backtothelist'|trans({}, 'MWSimpleAdminCrudBundle') }}
                </a>
            </div>
            <div class="float-left col-lg-3 col-md-3 col-sm-3">
                <a class="btn btn-primary col-lg-11" href="{{ path(config.edit, { 'id': entity.id }) }}">
                    {{ 'views.recordactions.edit'|trans({'%entity%': config.entityName}, 'MWSimpleAdminCrudBundle') }}
                </a>
            </div>
            <div class="float-left col-lg-3 col-md-3 col-sm-3">{{ form(delete_form) }}</div>
        </div>
    {% endblock %}
{% endblock %}
