{% block form_widget_simple %}
{% spaceless %}
    <div class="form-group">
        {% set type = type|default('text') %}
        {% set attr = attr|merge({'class': (attr.class|default('') ~ ' form-control')|trim}) %}
        <input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
    </div>
{% endspaceless %}
{% endblock form_widget_simple %}

{% block textarea_widget %}
{% spaceless %}
    <div class="input-group input-group-lg">
    	{% set attr = attr|merge({'class': (attr.class|default('') ~ ' form-control')|trim}) %}
        <textarea {{ block('widget_attributes') }}>{{ value }}</textarea>
    </div>
{% endspaceless %}
{% endblock textarea_widget %}

{% block checkbox_widget %}
{% spaceless %}
	{% set attr = attr|merge({'class': (attr.class|default('') ~ ' mws_checkbox')|trim}) %}
    <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
{% endspaceless %}
{% endblock checkbox_widget %}