{% block mws_field_file_widget %}
    {% spaceless %}
        <div id="fileupload_{{id}}" class="fileupload fileupload-{% if file_url is not null %}exists{% else %}new{% endif %}" data-provides="fileupload">
            <div class="fileupload-new thumbnail" style="width: 200px; height: 150px;">
                  <img src="{{ asset('bundles/mwsimpleadmincrud/img/no_image.gif') }}" />
            </div>
            <div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 200px; max-height: 150px; line-height: 20px;">
              {% if file_url is not null %}
                  <img src="{{ asset(file_url) }}" />
              {% endif %}
            </div>
            {% if value is not empty and file_path == true %}
                <br>/{{ file_url }}
            {% endif %}
            <div>
                <span class="btn btn-primary btn-file">
                    <span class="fileupload-new">Seleccionar</span>
                    <span class="fileupload-exists">Cambiar</span>
                    <input type="{{ type }}" {{ block('widget_attributes') }}
                           {% if value is not empty %}value="{{ value }}"{% endif %}/>
                </span>
                <a href="javascript:;" class="btn btn-danger fileupload-exists" data-dismiss="fileupload">Remover</a>
            </div>
        </div>
    {% endspaceless %}
    <script>
      $("#fileupload_{{id}}").on("change.bs.fileinput", function(e) {
        if(typeof eliminarArchivo === 'function') {
            //Es seguro ejecutar la función
            eliminarArchivo("{{id}}");
        }
        return true;
      });
    </script>
{% endblock %}
